.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #007BFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a.active-link {
    color: #007bff;
}
